<%- include('partials/header.ejs') %>
<link rel=stylesheet href="styles/home.css" />

<body>
    <main>
        <section id="home">
            <h1>“Happiness can be found, even in the darkest of times, if one only remembers to turn on the light.”</h1>
            <img src="images/hp-logo-prata.png" alt="Logo Harry Potter" class="home-img">
        </section>
    </main>
</body>