<%- include('partials/header.ejs') %>
<link rel=stylesheet href="styles/home.css" />

<body>
    <main>
        <section id="home">
            
        </section>
    </main>
</body>

<%- include('partials/footer.ejs') %>